.App {
  background-color: #282c34;
  color: #ffffff;
}

.Sandbox{
  background-color: #444444;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
}